.header {
    background-color: #d2ebff;
    color: #404066;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    
  }
  
  nav {
    width: 100%;
  }
  .header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }

  
  li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: #404066;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #222333;
  }
  
  button {
    background-color: #404066; 
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  

  
  @media (max-width: 768px) {
    .header {
      flex-direction: column; 
      text-align: center;
    }
  
    nav ul {
      flex-direction: column; 
      margin-top: 10px;
    }
  
    li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
.profile-link svg { 
    margin-right: 5px; 
  }